<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <link rel="stylesheet" href="../../static/scss/stylefooter.css">

    <title>Footer</title>
</head>
<body>
    <div class="footer-container">
        <div class="footer">
            <div class="footer-heading footer-1">
                <h2>Explore</h2>
                <a href="#">About Us</a>
                <a href="#">News Letter</a>
                <a href="#">About Us</a>
                <a href="#">Events</a>
            </div>

            <div class="footer-heading footer-2">
                <h2>Social</h2>
                <a href="#">YouTube</a>
                <a href="#">Instagram</a>
                <a href="#">Twitter</a>
                <a href="#">Twitch</a>
                <a href="#">Discord</a>
            </div>

            <div class="footer-heading footer-3">
                <h2>Information</h2>
                <a href="#">FAQ</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms and Conditions</a>
                <a href="#">Privacy Settings</a>
            </div>

            <div class="footer-email-form">
                <h2>Contact Us</h2>
                <input type="email" placeholder="Enter Your Email" id="footer-email">
                <input type="submit" value="Enter" id="footer-email-btn">

            </div>
        </div>
    </div>
</body>
</html>
