 <div class="footer-container">
        <div class="footer">
            <div class="footer-heading footer-1">
                <h2>Explore</h2>
                <a href="#">About Us</a>
                <a href="#">News Letter</a>
                <a href="#">Events</a>
            </div>

            <div class="footer-heading footer-2">
                <h2>Social</h2>
                <a href="http://www.youtube.com">YouTube</a>
                <a href="http://www.instagram.com">Instagram</a>
                <a href="http://www.twitter.com">Twitter</a>
                <a href="http://www.twitch.com">Twitch</a>
                <a href="http://www.discrd.gg">Discord</a>
            </div>

            <div class="footer-heading footer-3">
                <h2>Information</h2>
                <a href="#">FAQ</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms and Conditions</a>
                <a href="#">Privacy Settings</a>
            </div>

            <div class="footer-email-form">
                <h2>Contact Us</h2>
                <input type="email" placeholder="Enter Your Email" id="footer-email">
                <input type="submit" value="Enter" id="footer-email-btn">

            </div>
        </div>
    </div>