<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<!DOCTYPE html>

<html>

<head>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://github.com/NoahJ214/Team-Aaiaa-Project-Tri-2">{{name}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!--root menu -->
            <a class="nav-link" href="/">Home <span class="sr-only"></span></a>



            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                    About Us
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="dropdown-item" href="/ritvik/">Ritvik</a>
                    <a class="dropdown-item" href="/william/">William</a>
                    <a class="dropdown-item" href="/nathan/">Nathan</a>
                    <a class="dropdown-item" href="/noah/">Noah</a>
                    <a class="dropdown-item" href="/timmy/">Timmy</a>


                </div>

            </li>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Database
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href={{ url_for('crud.crud') }}>SQL CRUD</a></li>
                            <li><a class="dropdown-item" href={{ url_for('crud.search') }}>SQL Search</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Sports Fun!
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href={{ url_for('basketballquiz') }}>Sports Quiz</a></li>
                            <li><a class="dropdown-item" href={{ url_for('basketballgame') }}>Best Sport Poll</a></li>
                            <li><a class="dropdown-item" href={{ url_for('jeopardy') }}>Jeopardy</a></li>
                            <li><a class="dropdown-item" href={{ url_for('store') }}>Sports Store</a></li>
                            <li><a class="dropdown-item" href="/scratch/">Super Cool Game</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Individual Sports
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href={{ url_for('basketball') }}>Basketball</a></li>
                            <li><a class="dropdown-item" href={{ url_for('football') }}>Football</a></li>
                            <li><a class="dropdown-item" href={{ url_for('baseball') }}>Baseball</a></li>
                            <li><a class="dropdown-item" href={{ url_for('tennis') }}>Tennis</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="btn-group">
            <!-- Search Box -->
            <div class="px-3">
                <input id="search" type="search" placeholder="Search" aria-label="Search">
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        API
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href={{ url_for('api.nba') }}>NBA API</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
        <div>
            <span id="clock" style="color: black; float: right"></span>
        </div>
        <div>
            <button onclick="dark()">Toggle dark mode</button>
            <div/>
</nav>
</html>

<style>
    .dark-mode {
        background: black;
        color: white;
    }
</style>
<link rel="shortcut icon" href="/static/assets/heheheha.png">

<script>

    const search = document.getElementById('search');
    const google = 'https://www.google.com/search?q=site%3A+';
    const site = 'https://nighthawkcodingsociety.com';

    function submitted(event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            const url = google
                + site
                + '+'
                + search.value;
            const win = window.open(url, '_blank');
            win.focus();
        }
    }
    search.addEventListener('keypress', submitted);


    var clockElement = document.getElementById('clock');

    function clock() {
        var date = new Date();

        // Replace '400px' below with where you want the format to change.
        if (window.matchMedia('(max-width: 400px)').matches) {
            // Use this format for windows with a width up to the value above.
            clockElement.textContent = date.toLocaleString();
        } else {
            // While this format will be used for larger windows.
            clockElement.textContent = date.toString();
        }
    }

    setInterval(clock, 1000);

    function dark() {
        var element = document.getElementById('navbarNavAltMarkup');
        element.classList.toggle("dark-mode");
    }

</script>