* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;}

.footer-container {
    background-color: #ffffff;
    position: relative; top: 250px;
    max-height: 100vh;
    padding: 2rem 0 4rem 0;
}

.footer{
    width: 100%;
    height: 100%;
    position: relative; top: 380px;
    background-color: #212329;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;

}



.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}
.footer-heading h2{
    margin-bottom: 2rem;
}

.footer-heading a {
    color: #f0f0f0;
    text-decoration: none;
    margin-bottom: 1rem;
}
.footer-heading a:hover {
    color: gold;
    transition: 0.3s ease-in-out;
}

.footer-email-form h2 {
    margin-bottom: 2rem;
}

#footer-email {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#footer-email::placeholder {
    color: #b1b1b1;
}

#footer-email-btn {
    width: 80px;
    height: 40px;
    border-radius: 4px;
    background-color: #ffffff;
    outline: none;
    border: none;
    color: #ffffff
    font-size: 2rem
}

#footer-email-btn:hover {
    cursor: pointer;
    background-color: gold;
    transition: 0.2s ease-in-out;

}


