{% include "layouts/layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basketball</title>
</head>
<body>
    <div class="parallax" style="height: 15%">

    </div>

    <div class="parallax">
        <div style="color: #00008b; font-family: Georgia; font-size: larger; width: 70%; margin: auto; text-align: center; background-color: rgba(254,251,234,0.7); padding: 2%">
            <div style="float: left">
                <iframe frameborder="0"  scrolling="no" width="520" height="460" src="https://statsdream.com/basketball/usa/nba/iframe/?type=table&sport=4&country=231&template=824&conference=Western Conference&team=&timezone=Pacific/Midway&time=24&po=1&ma=1&wi=1&los=1&pts=0&ng=1&form=1&width=520&height=700&font=Verdana&fs=12&lh=22&bg=FFFFFF&fc=333333&logo=1&tlink=1&ths=1&thb=1&thba=FFFFFF&thc=000000&bc=dddddd&hob=f5f5f5&hobc=ebe7e7&lc=333333&sh=1&hfb=1&hbc=3bafda&hfc=FFFFFF"></iframe><div style="text-align:center;">West Coast Standings</div>
            </div>
            <div>
                <iframe frameborder="0"  scrolling="no" width="520" height="460" src="https://statsdream.com/basketball/usa/nba/iframe/?type=table&sport=4&country=231&template=824&conference=Eastern Conference&team=&timezone=Pacific/Midway&time=24&po=1&ma=1&wi=1&los=1&pts=0&ng=1&form=1&width=520&height=700&font=Verdana&fs=12&lh=22&bg=FFFFFF&fc=333333&logo=1&tlink=1&ths=1&thb=1&thba=FFFFFF&thc=000000&bc=dddddd&hob=f5f5f5&hobc=ebe7e7&lc=333333&sh=1&hfb=1&hbc=3bafda&hfc=FFFFFF"></iframe><div style="text-align:center;">East Coast Standings</div>
            </div>
        </div>
    </div>

    <div class="parallax" style="height: 20%">

    </div>

</body>
</html>