{% include "layouts/layout.html" %}
<body onload="NextQuestion(0)">
<main>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/scss/basketballquiz.css">
    </head>
    <title>
        Basketball Quiz!
    </title>
    <!-- Adapted from https://dev.to/sulaimonolaniran/building-a-simple-quiz-with-html-css-and-javascript-4elp -->
    <div class="modal-container" id="modal-score">

        <div class="modal-content-container">

            <h1>We have come to the end of the road, my friend. </h1>

            <div class="grade-details">
                <p>Incorrect: <span id="incorrect-solution"></span></p>
                <p>Correct: <span id="correct-solution"></span></p>
                <p>Grade : <span id="grade"></span>%</p>
                <p><span id="remarks"></span></p>
            </div>

            <div class="modal-button-container">
                <button onclick="ScoreModel()">GO</button>
            </div>

        </div>
    </div>
    <!-- end of modal of quiz details-->

    <div class="game-quiz-container">

        <div class="game-details-container">
            <h1>Points : <span id="current-score"></span> / 10</h1>
            <h1> Question # : <span id="QNum"></span> / 10</h1>
        </div>

        <div class="game-question-container">
            <h1 id="display-question"></h1>
        </div>

        <div class="game-options-container">

            <div class="modal-container" id="option-modal">

                <div class="modal-content-container">
                    <h1>Pick an answer....</h1>

                    <div class="modal-button-container">
                        <button onclick="closeOptionModal()">Back to Questions</button>
                    </div>

                </div>

            </div>

            <span>
                    <input type="radio" id="option-one" name="option" class="radio" value="A" />
                    <label for="option-one" class="option" id="option-uno"></label>
                </span>


            <span>
                    <input type="radio" id="option-two" name="option" class="radio" value="B" />
                    <label for="option-two" class="option" id="option-dos"></label>
                </span>


            <span>
                    <input type="radio" id="option-three" name="option" class="radio" value="C" />
                    <label for="option-three" class="option" id="option-tres"></label>
                </span>


            <span>
                    <input type="radio" id="option-four" name="option" class="radio" value="D" />
                    <label for="option-four" class="option" id="option-cuatro"></label>
                </span>


        </div>

        <div class="next-button-container">
            <button onclick="NextQ()">Next Question</button>
        </div>

    </div>
    <script>
        const questions = [
            {
                question: "How many NBA championships have the Lakers won?",
                A: "17 chips",
                B: "7 chips",
                C: "25 chips",
                D: "33 chips",
                Answer: "A"
            },

            {
                question: "How many seasons has Tom Brady played in the NFL?",
                A: "10 seasons",
                B: "20 seasons",
                C: "17 seasons",
                D: "19 seasons",
                Answer: "B"
            },

            {
                question: "Who has the fastest serve in Tennis?",
                A: "Nathan Shih",
                B: "Rafael Nadal",
                C: "Roger Federer",
                D: "Sam Groth",
                Answer: "D"
            },

            {
                question: "Who is the best Golf player below?",
                A: "Tyreek Hill",
                B: "Tiger Woods",
                C: "Jeremy Lin",
                D: "Fernando Tatis Jr",
                Answer: "B"
            },

            {
                question: "How long is an NBA game, without overtimes?",
                A: "49 minutes",
                B: "47 minutes",
                C: "50 minutes",
                D: "48 minutes",
                Answer: "D"
            },

            {
                question: "How many people watched the Super Bowl last year {2021}?",
                A: "67 million",
                B: "252 million",
                C: "96 million",
                D: "87 million",
                Answer: "C"
            },

            {
                question: "Which team finished at the top of the NFC in the 2021-2022 season?",
                A: "Arizona Cardinals",
                B: "Dallas Cowboys",
                C: "Green Bay Packers",
                D: "Brooklyn Nets",
                Answer: "C"
            },

            {
                question: "How many points is a field goal worth in American football?",
                A: "3",
                B: "4",
                C: "1",
                D: "67",
                Answer: "A"
            },

            {
                question: "In American football, how many minutes is a quarter?",
                A: "16",
                B: "23",
                C: "7",
                D: "15",
                Answer: "D"
            },

            {
                question: "How many basketball teams are there in the NBA?",
                A: "23",
                B: "32",
                C: "31",
                D: "30",
                Answer: "D"
            },

            {
                question: "Where are the Knicks located?",
                A: "New York",
                B: "California",
                C: "New Jersey",
                D: "Los Angeles",
                Answer: "A"
            },


            {
                question: "Who was the NBA MVP in 2020?",
                A: "Giannis Antetokounmpo",
                B: "LeBron James",
                C: "Kevin Durant",
                D: "Kyrie Irving",
                Answer: "A"
            },

            {
                question: "Which of the following is a tennis player?",
                A: "Roger Federer",
                B: "LeBron James",
                C: "Leonard Fournette",
                D: "Tom Brady",
                Answer: "A"
            }

        ]


        let shuffledQ = [] //empty array to hold shuffled selected questions out of all available questions

        function handleQuestions() {
            //function to shuffle and push 10 questions to shuffledQ array
//app would be dealing with 10questions per session
            while (shuffledQ.length <= 9) {
                const random = questions[Math.floor(Math.random() * questions.length)]
                if (!shuffledQ.includes(random)) {
                    shuffledQ.push(random)
                }
            }
        }


        let questionNumber = 1 //holds the current question number
        let score = 0  //holds the player score
        let wrongAttempt = 0 //amount of wrong answers picked by player
        let indexNumber = 0 //will be used in displaying next question

        // function for displaying next question in the array to dom
        //also handles displaying players and quiz information to dom
        function NextQuestion(index) {
            handleQuestions()
            const currentQuestion = shuffledQ[index]
            document.getElementById("QNum").innerHTML = questionNumber
            document.getElementById("current-score").innerHTML = score
            document.getElementById("display-question").innerHTML = currentQuestion.question;
            document.getElementById("option-uno").innerHTML = currentQuestion.A;
            document.getElementById("option-dos").innerHTML = currentQuestion.B;
            document.getElementById("option-tres").innerHTML = currentQuestion.C;
            document.getElementById("option-cuatro").innerHTML = currentQuestion.D;

        }


        function checkForAnswer() {
            const currentQuestion = shuffledQ[indexNumber] //gets current Question
            const currentQuestionAnswer = currentQuestion.Answer //gets current Question's answer
            const options = document.getElementsByName("option"); //gets all elements in dom with name of 'option' (in this the radio inputs)
            let Answer = null

            options.forEach((option) => {
                if (option.value === currentQuestionAnswer) {
                    //get's correct's radio input with correct answer
                    Answer = option.labels[0].id
                }
            })

            //checking to make sure a radio input has been checked or an option being chosen
            if (options[0].checked === false && options[1].checked === false && options[2].checked === false && options[3].checked == false) {
                document.getElementById('option-modal').style.display = "flex"
            }

            //checking if checked radio button is same as answer
            options.forEach((option) => {
                if (option.checked === true && option.value === currentQuestionAnswer) {
                    document.getElementById(Answer).style.backgroundColor = "green"
                    score++ //adding to player's score
                    indexNumber++ //adding 1 to index so has to display next question..
                    //set to delay question number till when next question loads
                    setTimeout(() => {
                        questionNumber++
                    }, 1000)
                }

                else if (option.checked && option.value !== currentQuestionAnswer) {
                    const wrongLabelId = option.labels[0].id
                    document.getElementById(wrongLabelId).style.backgroundColor = "red"
                    document.getElementById(Answer).style.backgroundColor = "green"
                    wrongAttempt++ //adds 1 to wrong attempts
                    indexNumber++
                    //set to delay question number till when next question loads
                    setTimeout(() => {
                        questionNumber++
                    }, 1000)
                }
            })
        }



        //called when the next button is called
        function NextQ() {
            checkForAnswer() //check if player picked right or wrong option
            unCheckRadioButtons()
            //delays next question displaying for a second just for some effects so questions don't rush in on player
            setTimeout(() => {
                if (indexNumber <= 9) {
//displays next question as long as index number isn't greater than 9, remember index number starts from 0, so index 9 is question 10
                    NextQuestion(indexNumber)
                }
                else {
                    EndGame()//ends game if index number greater than 9 meaning we're already at the 10th question
                }
                resetBackground()
            }, 1000);
        }

        //sets options background back to null after display the right/wrong colors
        function resetBackground() {
            const options = document.getElementsByName("option");
            options.forEach((option) => {
                document.getElementById(option.labels[0].id).style.backgroundColor = ""
            })
        }

        // unchecking all radio buttons for next question(can be done with map or foreach loop also)
        function unCheckRadioButtons() {
            const options = document.getElementsByName("option");
            for (let i = 0; i < options.length; i++) {
                options[i].checked = false;
            }
        }


        function EndGame() {
            let remark = null
            let remarkColor = null


            if (score <= 3) {
                remark = "Try Again!"
                remarkColor = "red"
            }
            else if (score >= 4 && score < 7) {
                remark = "Pretty solid!"
                remarkColor = "green"
            }
            else if (score >= 7) {
                remark = "Wow! You're insane!"
                remarkColor = "blue"
            }
            const playerGrade = (score / 10) * 100

            //scoreboard using document.getElementById
            document.getElementById('remarks').innerHTML = remark
            document.getElementById('remarks').style.color = remarkColor
            document.getElementById('grade').innerHTML = playerGrade
            document.getElementById('incorrect-solution').innerHTML = wrongAttempt
            document.getElementById('correct-solution').innerHTML = score
            document.getElementById('modal-score').style.display = "flex"

        }

        //reset
        function ScoreModel() {
            questionNumber = 1
            score = 0
            wrongAttempt = 0
            indexNumber = 0
            shuffledQ = []
            NextQuestion(indexNumber)
            document.getElementById('modal-score').style.display = "none"
        }

        //function to close warning modal
        function closeOptionModal() {
            document.getElementById('option-modal').style.display = "none"
        }
    </script>
</main>
</body>