<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}

<!-- Setting up variables to customize "project" details to be specific to index page -->
{% set project = "Team Aaiaa" %}
{% set overview = "https://www.youtube.com/channel/UC38EVQw1_nh4L5w37nhmlig" %}
{% set repo = "https://github.com/NoahJ214/Team-Aaiaa-Project-Tri-2" %}


{% block background %}



    <style>
        body {
            background-image: url('https://images.hdqwalls.com/download/abstract-vector-graphic-design-hf-1920x1080.jpg%27');
            background-repeat: repeat-y;
            background-size: auto;
            }
    </style>
{% endblock %}