

<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The form -->
<form class="example">
    <input type="text" id = "form" placeholder="Search.." name="search">

    <button onclick="myFunction()" type="submit"><i class="fa fa-search"></i>
    </button>
</form>
<script>

    // This is where are the players and teams are stored
    // Add the teams here in the format of how Cowboys is
    var dict={

        "Cowboys":["player 1 ","player 2 ", "player 3 ", "player 4 "],
        "AK":["liza","alex"],
        "TX":["fred", "harry"]

    };

    function myFunction() {

        // get the value of what we typed into the search box
        let sportsTeam = document.getElementById('form').value;
        let players = dict[sportsTeam];

        if (sportsTeam in dict) {
            document.write(players);
        }
        else {
            alert("No such team exists, please search again");
        }

//        document.write(players);

//
    }

</script>