{% include "layouts/layout.html" %}

<html>
<head>
    <title>Shopping Cart UI</title>
    <link rel="stylesheet" type="text/css" href="static/scss/syle.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900" rel="stylesheet">
</head>
<body>
<div class="CartContainer69">
    <div class="Header69">
        <h3 class="Heading69">Shopping Cart</h3>
        <h5 class="Action69">Remove all</h5>
    </div>

    <div class="Cart-Items">
        <div class="image-box">
            <img src="static/assets/applejuice.png" width="100" height="100" />
        </div>
        <div class="about69">
            <h1 class="title69">Apple Juice</h1>
            <h3 class="subtitle69">250ml</h3>
        </div>
        <div class="counter">
            <div class="btn69">+</div>
            <div class="count69">2</div>
            <div class="btn69">-</div>
        </div>
        <div class="prices69">
            <div class="amount69">$2.99</div>
            <div class="save69"><u>Save for later</u></div>
            <div class="remove69"><u>Remove</u></div>
        </div>
    </div>

    <div class="Cart-Items pad">
        <div class="image-box">
            <img src="static/assets/grapejuice.png" width="100" height="100" />
        </div>
        <div class="about69">
            <h1 class="title69">Grape Juice</h1>
            <h3 class="subtitle69">250ml</h3>
        </div>
        <div class="counter">
            <div class="btn69">+</div>
            <div class="count69">1</div>
            <div class="btn69">-</div>
        </div>
        <div class="prices">
            <div class="amount69">$3.19</div>
            <div class="save69"><u>Save for later</u></div>
            <div class="remove69"><u>Remove</u></div>
        </div>
    </div>
    <hr>
    <div class="checkout6999">
        <div class="total69">
            <div>
                <div class="Subtotal69">Sub-Total</div>
                <div class="items69">2 items</div>
            </div>
            <div class="total-amount69">$6.18</div>
        </div>
        <button class="button69">Checkout</button></div>
</div>
</body>
</html>