<!DOCTYPE html>

{%  block body %}
    <html>
    <title>Sports Survey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <body>

    <div class="w3-container">

        <div class="w3-panel w3-border w3-border-red w3-hover-border-black">
            <p>

                <title>W3.CSS</title>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
                <body>

            <header class="w3-container w3-teal">
                <h1>Sports Survey</h1>
            </header>
            <head>
                <style>
                    body {
                        background: none;
                    }
                    form {
                        font-family: "Lucida Console", "Courier New", monospace;
                    }
                    a.highlight:hover {
                        color: #ff0000;
                        font-size: 22px;
                    }
                    a:link, a:visited {
                        background-color: white;
                        color: black;
                        border: 2px solid green;
                        padding: 10px 20px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                    }

                    a:hover, a:active {
                        background-color: green;
                        color: white;
                    }
                </style>
            </head>
            <form action="results.html" method="GET" enctype="multipart/form-data">
                <div>
                    <br>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" required>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div>
                    <label for="age">Age</label>
                    <input type="number" name="age" id="age" min="1" max="200" step="5">
                </div>
                <div>
                    <label for="sports">Favorite Sports</label>
                    <textarea id="sports" name="sports"></textarea>
                </div>
                <div>
                    Favorite Athlete
                    <div>
                        <label for="Messi">Messi</label>
                        <input type="checkbox" name="Messi" id="Messi">
                    </div>
                    <div>
                        <label for="Ronaldo">Ronaldo</label>
                        <input type="checkbox" name="Ronaldo" id="Ronaldo">
                    </div>
                    <div>
                        <label for="Lebron">LeBron</label>
                        <input type="checkbox" name="LeBron" id="LeBron">
                    </div>
                </div>
                <div>
                    Gender
                    <div>
                        <label for="male">Male</label>
                        <input type="radio" name="gender" id="male" value="male">
                    </div>
                    <div>
                        <label for="female">Female</label>
                        <input type="radio" name="gender" id="female" value="female">
                    </div>
                </div>
                <div>
                    <label for="sports">Experience Level</label>
                    <select name="sports" id="sports" multiple>
                        <option value="years">1</option>
                        <option value="years">2</option>
                        <option value="years">3</option>
                        <option value="years">4</option>
                        <option value="years">5+</option>
                    </select>
                </div>
                <div>
                    <label for="bio">Bio</label>
                    <textarea id="bio" name="bio"></textarea>
                </div>
                <input type="hidden" name="hidden" value="hi">
                <div>
                    <label for="file">Upload Picture Of You Playing Sports</label>
                    <br>
                    <input id="file" type="file" name="file">
                </div>
                <div>
                    <label for="phone">Contact Information/Phone Number</label>
                    <textarea id="bio" name="bio"></textarea>
                </div>
                <div>
                    <label for="url">Favorite Sports Clip URL</label>
                    <input type="url" name="url" id="url">
                </div>
                <div>
                    <label for="color">Color of Favorite Team</label>
                    <input type="color" name="color" id="color">
                </div>
                <div>
                    <label>
                        Password
                        <input type="password" name="password" min="1" max="5" required>
                    </label>
                </div>
                <button onclick="myFunction()" type="reset">Reset</button>
                <script>
                    function myFunction() {
                        alert("You have successfully resetted your survey");
                    }
                </script>
                <button onclick="myFunction()">Submit</button>
                <script>
                    function myFunction() {
                        alert("Thank you for completing the survey");
                    }
                </script>
            </form>





            <footer class="w3-container w3-teal">
                <h5>Other Info</h5>
                <p><br>
                    <a class="highlight" href="https://github.com/NoahJ214/Team-Aaiaa-Projet-Tri-2" target="_blank" class="side-link side-link-github side-link-icon">
                        <i class="fab fa-github-square"></i>
                        <span class="side-link-text">View Team Aaiaa Github</span>
                    </a>
                    <br>
                    <a href="http://127.0.0.1:5000/ " target="_blank" class="side-link side-link-twitter">
                        <i class="fab fa-twitter-square side-link-icon"></i>
                        <span class="side-link-text">View Our Team Page</span>
                    </a>
        </div>


        </footer>



    </body>
    </html>

{% endblock %}